<div class="view-container">
   
    <mat-card class="table-card mat-elevation-z9">
      <mat-card-header>
        <mat-card-title>Stocks</mat-card-title>
        <mat-card-subtitle>Product stocks</mat-card-subtitle>
        <img src="../../../../assets/warehouse-svgrepo-com.svg" mat-card-avatar class="avatar" />
        <span class="filler"></span>
        <a mat-mini-fab [routerLink]="['/inventory-create']" [title]="'Create new inventory'"><mat-icon>add</mat-icon></a>
      </mat-card-header>
      <mat-card-content >
  
        <mat-table [dataSource]="dataSource" matSort>
           
          <ng-container matColumnDef="productName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.productName}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="onSelf">
            <mat-header-cell *matHeaderCellDef mat-sort-header>On Self</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.onSelf}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="sold">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sold</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.sold}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="stock">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Stock</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.stock}}</mat-cell>
          </ng-container>
         
          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row;columns:columns"></mat-row>
        </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator> 
        
      </mat-card-content>
    </mat-card>
  </div>

