@inject HttpClient http
<MudDialog>
    <DialogContent>
        @if(Model is null)
        {
            <div>Loasing...</div>
        }
        else
        {
        <EditForm Model="@Model">
            <DataAnnotationsValidator />
                <MudTextField Label="Category name"
                          @bind-Value="Model.BaseTypeName" For="@(() => Model.BaseTypeName)" />
        </EditForm>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="@Color" OnClick="Submit">@ButtonText</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public ProductMeasurement Model { get; set; } = default!;


    [Parameter] public string ButtonText { get; set; } = "Save";

    [Parameter] public Color Color { get; set; } = Color.Primary;
    async Task Submit()
    {
        var response = await this.http.PutAsJsonAsync($"api/ProductMeasurements/{Model.ProductMeasurementId}", Model);
        if(response.IsSuccessStatusCode)
        {
            var pm = await response.Content.ReadFromJsonAsync<ProductMeasurement>();
            if(pm is not null)
                MudDialog.Close<ProductMeasurement>(pm);
            else
            {
                
            }
           
        }
        
    }
    void Cancel() => MudDialog.Cancel();

}
