.card-div[b-8g992gqpn2] {
    display:block;
    width:60%;
    margin:0 auto;
}
.show[b-8g992gqpn2] {
    display:block;
}
.hide[b-8g992gqpn2] {
    display:none;
}
@media screen and (max-width: 600px)
{
    .card-div[b-8g992gqpn2] {
        display: block;
        width: 97%;
        margin: 0 auto;
    }
}
